include layout

script(src='/javascripts/stegojax.js', type='text/javascript')
#pagewrap
  h1 Node.JS Steganography
  p A 
    a(href='http://en.wikipedia.org/wiki/Steganography') steganography
    |  application in Node.JS
  p View the guts on 
    a(href='http://github.com/naked/node-stego') github
    | . Also follow me on 
    a(href='https://twitter.com/#!/uberscientist') twitter
    |  because I have lots of important things to say :)
  .form_container
    h2 Encode
    form(id='encode_form', method='POST', action='/encode', enctype='multipart/form-data')
      | Secret file 
      input(type='file', name='secret')
      br
      | Image file
      input(type='file', name='image')
      br
      input(id='encode_button', class='upload_button', type='submit', value='magic')
  .form_container
    h2 Decode
    form(id='decode_form', method='POST', action='/decode', enctype='multipart/form-data')
      br
      | Stego file
      input(type='file', name='stego')
      input(id='decode_buton', class='upload_button', type='submit', value='magic')
      br
  #response_container
  #spinner
